# Instructions for CODEOWNERS file format:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

# Approval for at least one _code owner_ is required for all packages.

# These owners will be the default owners for everything in the repository unless a later match takes precedencet.
*                                                           @Azure/acs-ui-web-calling-reviewer-1 @Azure/acs-ui-web-calling-reviewer-2 @Azure/acs-ui-web-chat-reviewer-1 @Azure/acs-ui-web-chat-reviewer-2

# Orphaned paths
/change/
/change-beta/

# Calling
/packages/calling-component-bindings/                       @Azure/acs-ui-web-calling-reviewer-1 @Azure/acs-ui-web-calling-reviewer-2
/packages/calling-stateful-client/                          @Azure/acs-ui-web-calling-reviewer-1 @Azure/acs-ui-web-calling-reviewer-2
/packages/storybook/stories/CallComposite/                  @Azure/acs-ui-web-calling-reviewer-1 @Azure/acs-ui-web-calling-reviewer-2
/samples/Calling/                                           @Azure/acs-ui-web-calling-reviewer-1 @Azure/acs-ui-web-calling-reviewer-2

# Chat
/packages/chat-component-bindings/                          @Azure/acs-ui-web-chat-reviewer-1 @Azure/acs-ui-web-chat-reviewer-2
/packages/chat-stateful-client/                             @Azure/acs-ui-web-chat-reviewer-1 @Azure/acs-ui-web-chat-reviewer-2
/packages/storybook/stories/ChatComposite/                  @Azure/acs-ui-web-chat-reviewer-1 @Azure/acs-ui-web-chat-reviewer-2
/samples/Chat/                                              @Azure/acs-ui-web-chat-reviewer-1 @Azure/acs-ui-web-chat-reviewer-2

# CallWithChat
/samples/CallWithChat/                                      @Azure/acs-ui-web-calling-reviewer-1 @Azure/acs-ui-web-calling-reviewer-2
/packages/storybook/stories/CallWithChatComposite/          @Azure/acs-ui-web-calling-reviewer-1 @Azure/acs-ui-web-calling-reviewer-2
