/* TEXT STYLES */


/* h1   */

h1 {
    color: #000000 !important;
    font-size: 40px !important;
    font-weight: 700 !important;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    margin: 64px 0px 32px !important;
    letter-spacing: -0.03em !important;
}


/* h2   */

h2 {
    color: #000000 !important;
    font-size: 24px !important;
    font-weight: 600 !important;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    margin: 48px 0px 24px !important;
    padding: 48px 0px 0px !important;
    border-top: 1px solid #EDEBE9 !important;
    border-bottom: (remove) !important;
    letter-spacing: -0.02em !important;
}


/*  h3   */

h3 {
    color: #000000 !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    margin: 32px 0px 12px !important;
    letter-spacing: -0.02em !important;
}


/*  p  */

p {
    font-size: 14px !important;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    line-height: 24px !important;
    margin: 0px (remove) !important;
}


/* PAGE ELEMENT STYLES */


/* Code element */

.code {
    border: 1px solid #edebe9;
    margin: 16px 0px;
    background-color: #faf9f8;
    box-shadow: (remove)
}


/* Table row  */

.css-10n01gg tr th {
    background-color: #faf9f8;
    text-align: left;
}


/* Table 2nd row  */

.css-10n01gg tr:nth-of-type(2n) {
    background-color: #faf9f8;
}


/* PAGE STYLE */


/* main content area */

.css-zgt7u1 {
    padding: 4rem 64px;
}


/* body */
body {
    background: #faf9f8 !important;
    font-family: "Segoe UI",
        "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif !important;
    color: #605e5c !important;
}