registry=https://msazure.pkgs.visualstudio.com/OneAgile/_packaging/azure-communication-services-private/npm/registry/ 

@skype:registry=https://skype.pkgs.visualstudio.com/_packaging/csc/npm/registry/

always-auth=true