{
  "Logging": {
    "LogLevel": {
      "Default": "Trace",
      "System": "Information",
      "Microsoft": "Information"
    }
  },
  "AllowedHosts": "*",
  "ResourceConnectionString": "REPLACE_WITH_COMMUNICATION_RESOURCE_CONNECTION_STRING",
  "EndpointUrl": "REPLACE_WITH_ENDPOINT_URL",
  "AdminUserId": "REPLACE_WITH_ADMIN_USER_ID",
  "AzureBlobStorageConnectionString": "REPLACE_WITH_BLOB_STORAGE_CONNECTION_STRING",
  "LanguageAPIKey": "<REPLACE_WITH_COG_SERVICES_KEY>",
  "CognitionAPIEndpoint": "<REPLACE_WITH_COG_SERVICES_ENDPOINT>",
  "ServerHttpUrl": "<REPLACE_WITH_URL_FOR_SERVER>",
  "ServerWebSocketPort": <REPLACE_WITH_PORT_NUMBER_FOR_SOCKET,
  "ServerWebSocketUrl": "wss://<REPLACE_WITH_URL_FOR_WEB_SOCKET>"
}