# Touchdown build pipeline

trigger:
  branches:
    include:
      - main
pr: none

resources:
  repositories:
    - repository: m365Pipelines
      type: git
      name: 1ESPipelineTemplates/M365GPT
      ref: refs/tags/release

parameters:
  # Parameter to control whether to only pass strings to touchdown (false) or to also create a PR with changes (true)
  - name: commit_new_strings
    displayName: 'Create branch with new strings'
    type: boolean
    default: true

extends:
  template: v1/M365.Unofficial.PipelineTemplate.yml@m365Pipelines
  parameters:
    pool:
      name: ess-1eshp-windows-latest
      os: windows
    customBuildTags:
      - ES365AIMigrationTooling
    stages:
      - stage: stage
        jobs:
          - job: job
            steps:
              - checkout: self
                clean: true
                persistCredentials: true

              - task: TouchdownBuildTask@4
                inputs:
                  environment: 'PRODEXT'
                  teamId: '35669'
                  authType: 'FederatedIdentity'
                  FederatedIdentityServiceConnection: 'Touchdown-Build-authentication-for-acs-web-ui'
                  isPreview: false
                  resourceFilePath: 'packages/react-components/src/localization/locales/en-US/strings.json'
                  outputDirectoryRoot: 'packages/react-components/src/localization/locales'
                  cultureMappingType: 'None'
                displayName: 'Call Touchdown build task for components and commit changes'

              - task: TouchdownBuildTask@4
                inputs:
                  environment: 'PRODEXT'
                  teamId: '35669'
                  authType: 'FederatedIdentity'
                  FederatedIdentityServiceConnection: 'Touchdown-Build-authentication-for-acs-web-ui'
                  isPreview: false
                  resourceFilePath: 'packages/react-composites/src/composites/localization/locales/en-US/strings.json'
                  outputDirectoryRoot: 'packages/react-composites/src/composites/localization/locales'
                  cultureMappingType: 'None'
                displayName: 'Call Touchdown build task for composites and commit changes'

              - task: PowerShell@2
                displayName: Commit changes to a new branch
                condition: eq('${{ parameters.commit_new_strings }}', true) # Only create a PR if the parameter is set to true
                inputs:
                  targetType: 'inline'
                  script: |
                    # ------------------------------------------------------------------------------------------------
                    # - Script to create a new branch with string changes
                    # ------------------------------------------------------------------------------------------------

                    $repoOwner = "Azure"
                    $repoName = "communication-ui-library"
                    $sourceBranch= $env:Build_SourceBranch
                    $sourceBranchName = $sourceBranch -replace "refs/heads/", ""

                    Write-host "Repository Owner: $repoOwner"
                    Write-host "Repository Name: $repoName"
                    Write-host "Source Branch: $sourceBranch"

                    if ("$(git status)".Contains("nothing to commit")) {
                        Write-Host "Nothing to commit, exiting immediately"
                        Exit
                    }

                    #****************************************
                    #************Configure GIT***************
                    #****************************************
                    Write-Host "##[group] Configure GIT"

                    # Setting Global Git Username and Email. NOTE: Branch will be created as this user
                    git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
                    git config user.name "github-actions[bot]"

                    #***********************************************
                    #*** Create a new branch and push changes to it ***
                    #***********************************************

                    # Get the current date and time in the format yyyyMMdd-HHmmss
                    $dateTime = Get-Date -Format "yyyyMMdd-HHmmss"
                    $newBranchName = "td/update-strings-$dateTime"

                    Write-Host "Creating new branch $newBranchName"
                    git checkout -b $newBranchName
                    git add -A
                    git commit -m "TDBuild latest localization"
                    git push origin $newBranchName

                    Write-Host "PR created successfully: $($response.url)"
    sdl:
      arrow:
        serviceConnection: Arrow_skype_PROD
      roslyn:
        enabled: true
