.bold-header {
  font-weight: bold;
}

body {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: 0;
  margin-left: 0;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

#call-composite-container {
  height: 100%;
}

#outbound-call-composite-container {
  height: 100%;
}

#callWithChat-composite-container {
  height: 100%;
}

#chat-composite-container {
  height: 100%;
}

@font-face {
  font-weight: 400;
  src: url('./fonts/segoeui-regular.woff2') format('woff2');
  font-family: 'Segoe UI';
}

@font-face {
  font-weight: 600;
  src: url('./fonts/segoeui-semibold.woff2') format('woff2');
  font-family: 'Segoe UI';
}

@font-face {
  font-weight: 700;
  src: url('./fonts/segoeui-bold.woff2') format('woff2');
  font-family: 'Segoe UI';
}
