name: CI

on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [main]
  pull_request:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build_and_test:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE so job can access it
      - uses: actions/checkout@v2

      # Ensure node version is great enough
      - name: Use Node.js v12.x
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'

      # Install dependencies
      - name: Install rush
        run: npm install -g @microsoft/rush
      - name: Install dependencies
        run: rush install

      # Builds
      - name: Build Packages and Samples
        run: rush build

      - name: Build Storybook
        run: rushx build:storybook
        working-directory: ./packages/communication-ui

      # Run tests
      - name: Run Tests
        run: rush test
        env:
          CI: true

      # Deploy Storybook - only perform this step on main branch CI
      - name: Deploy Storybook
        if: github.ref == 'refs/heads/main'
        run: npm run deploy-storybook -- --ci
        working-directory: ./packages/communication-ui
        env:
          GH_TOKEN: ${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}

      - name: Package Group Calling Sample Artifact
        # if: github.ref == 'refs/heads/main'
        run: npm run package
        working-directory: ./samples/Calling

      - name: Upload Group Calling Sample Artifact
        # if: github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v2
        with:
          name: group-calling-sample
          path: samples/Calling/dist

      - name: Package Group Chat Sample Artifact
        # if: github.ref == 'refs/heads/main'
        run: npm run package
        working-directory: ./samples/Chat

      - name: Upload Group Chat Sample Artifact
        # if: github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v2
        with:
          name: group-chat-sample
          path: samples/Chat/dist

      - name: Upload Private Preview Drop
        # if: github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v2
        with:
          name: private-preview-drop
          path: packages/communication-ui/dist
