name: Generate APIView (feature)

on:
  workflow_dispatch:
    inputs:
      feature:
        description: 'Feature name. Must match the name of the feature in features.js.'
        required: true
        type: string

# cancel workflow when a newer version of the workflow is triggered on the same github ref
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: read-all
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE so job can access it
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      # Ensure node version is great enough
      - name: Use Node.js v20.x
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      # Install dependencies
      - name: Install rush
        run: npm install -g @microsoft/rush@$(jq -r '.rushVersion' "rush.json")
      - name: Install dependencies
        run: rush install --max-install-attempts 3
      # Generate APIs
      - name: Generate APIs
        run: rush generate-api-diff --feature ${{ github.event.inputs.feature }}
      # Upload apis as artifact
      - name: Upload apis as action artifact
        uses: actions/upload-artifact@v4
        with:
          name: apis
          path: apis/
