name: Deploy release validation samples

on:
  push:
    branches:
      - 'release/**'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# cancel workflow when a newer version of the workflow is triggered on the same github ref
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-deploy-samples:
    name: Build and Deploy samples
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Restore node_modules from cache
        uses: actions/cache@v3
        with:
          path: common/temp/pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('common/config/rush/pnpm-lock.yaml') }}

      - name: Install Rush
        run: npm install -g @microsoft/rush@5.47.0

      - name: Install Dependencies
        run: rush install

      # Switch flavor to stable when it is release branch
      - name: Switch flavor for stable build
        if: ${{ !contains(github.ref, 'beta') }}
        run: rush switch-flavor:stable

      # Switch flavor to beta release when it is beta release branch
      - name: Switch flavor for beta release build
        if: ${{ contains(github.ref, 'beta') }}
        run: rush switch-flavor:beta-release

      - name: Build Projects
        run: rush build

      - name: Package Calling Sample Artifact
        run: rushx package
        working-directory: ./samples/Calling

      - name: 'Deploy Calling Sample WebApp'
        uses: azure/webapps-deploy@v2
        with:
          app-name: acs-ui-dev-web-call-hero-beta-validation2
          publish-profile: ${{ secrets.AZURE_BETA_GROUPCALLING_WEBAPP_PUBLISH_PROFILE }}
          package: ./samples/Calling/dist

      - name: Package Chat Sample Artifact
        run: rushx package
        working-directory: ./samples/Chat

      - name: 'Deploy Chat Sample WebApp'
        uses: azure/webapps-deploy@v2
        with:
          app-name: acs-ui-dev-web-chat-hero-beta-validation2
          publish-profile: ${{ secrets.AZURE_BETA_GROUPCHAT_WEBAPP_PUBLISH_PROFILE }}
          package: ./samples/Chat/dist

      - name: Package CallWithChat Sample Artifact
        run: rushx package
        working-directory: ./samples/CallWithChat

      - name: 'Deploy CallWithChat Sample WebApp'
        uses: azure/webapps-deploy@v2
        with:
          app-name: acs-ui-dev-web-meeting-hero-beta-validation2
          publish-profile: ${{ secrets.AZURE_BETA_MEETING_WEBAPP_PUBLISH_PROFILE }}
          package: ./samples/CallWithChat/dist
