name: Release branch - Publish Storybook

on:
  # Trigger via 'Actions' on GitHub
  workflow_dispatch:

# cancel workflow when a newer version of the workflow is triggered on the same github ref
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-deploy-storybook:
    name: Build and Deploy Storybook
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - name: Restore node_modules from cache
        uses: actions/cache@v2
        with:
          path: common/temp/pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('common/config/rush/pnpm-lock.yaml') }}

      - name: Install Rush
        run: npm install -g @microsoft/rush@5.47.0

      - name: Install Dependencies
        run: rush install

      - name: Build Storybook
        run: rush build -o storybook

      - name: Run Storybook tests
        run: rush test -o storybook

      - name: Deploy Storybook
        # storybook requires the env vars to be in a .env file for access in the manager.ts
        run: |
          echo TELEMETRY_INSTRUMENTATION_KEY=${{ secrets.TELEMETRY_INSTRUMENTATION_KEY }} > .env
          npm run deploy-storybook -- --ci
        working-directory: ./packages/storybook
        env:
          GH_TOKEN: ${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}
