name: Azure Deploy

on:
  push:
    branches: [main]

  workflow_dispatch:

jobs:
  build-and-deploy-Samples:
    name: Build and Deploy Hero Samples
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Install Rush
        run: npm install -g @microsoft/rush

      - name: Install Dependencies
        run: rush install

      - name: Build Projects
        run: rush build

      - name: Package One To One Calling Sample Artifact
        run: rushx package
        working-directory: ./samples/OneToOneCall

      - name: 'Deploy Sample WebApps'
        uses: azure/webapps-deploy@v2
        with:
          app-name: 1To1Calling
          publish-profile: ${{ secrets.AZURE_1TO1CALLING_WEBAPP_PUBLISH_PROFILE }}
          package: ./samples/OneToOneCall/dist

      - name: Package Group Calling Sample Artifact
        run: rushx package
        working-directory: ./samples/Calling

      - name: 'Deploy Sample WebApps'
        uses: azure/webapps-deploy@v2
        with:
          app-name: acs-ui-dev-web-calling-hero
          publish-profile: ${{ secrets.AZURE_GROUPCALLING_WEBAPP_PUBLISH_PROFILE }}
          package: ./samples/Calling/dist
