name: Deploy feature validation samples

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# cancel workflow when a newer version of the workflow is triggered on the same github ref
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: read-all

jobs:
  calling:
    name: Build and Deploy Calling App
    runs-on: 'ubuntu-lastest'
    permissions:
      # Needed for Azure login
      id-token: write
    environment: staging
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - name: Install rush
        run: npm install -g @microsoft/rush@$(jq -r '.rushVersion' "rush.json")
      - name: Install dependencies
        run: rush install
      - name: Switch flavor for beta release build
        run: rush switch-flavor:beta-release
      - name: Build Communication-react
        run: rush build -t @azure/communication-react
      - name: Build Server
        run: rush build -o server
      - name: Build Calling
        run: rush build -o calling
      - name: Package Calling App
        run: rushx package
        working-directory: ./samples/Calling
      - name: Log in with Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      - name: Deploy Calling
        uses: azure/webapps-deploy@v3
        with:
          app-name: acs-ui-dev-web-call-feature-validation
          package: ./samples/Calling/dist

  chat:
    name: Build and Deploy Chat App
    runs-on: 'ubuntu-lastest'
    permissions:
      # Needed for Azure login
      id-token: write
    environment: staging
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - name: Install rush
        run: npm install -g @microsoft/rush@$(jq -r '.rushVersion' "rush.json")
      - name: Install dependencies
        run: rush install
      - name: Switch flavor for beta release build
        run: rush switch-flavor:beta-release
      - name: Build Communication-react
        run: rush build -t @azure/communication-react
      - name: Build Server
        run: rush build -o server
      - name: Build Chat
        run: rush build -o chat
      - name: Package Chat App
        run: rushx package
        working-directory: ./samples/Chat
      - name: Log in with Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      - name: Deploy Chat
        uses: azure/webapps-deploy@v3
        with:
          app-name: acs-ui-dev-web-chat-feature-validation
          package: ./samples/Chat/dist

  callwithchat:
    name: Build and Deploy CallWithChat App
    runs-on: 'ubuntu-lastest'
    permissions:
      # Needed for Azure login
      id-token: write
    environment: staging
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - name: Install rush
        run: npm install -g @microsoft/rush@$(jq -r '.rushVersion' "rush.json")
      - name: Install dependencies
        run: rush install
      - name: Switch flavor for beta release build
        run: rush switch-flavor:beta-release
      - name: Build Communication-react
        run: rush build -t @azure/communication-react
      - name: Build Server
        run: rush build -o server
      - name: Build CallWithChat
        run: rush build -o callwithchat
      - name: Package CallWithChat Sample Artifact
        run: rushx package
        working-directory: ./samples/CallWithChat
      - name: Log in with Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      - name: Deploy CallWithChat
        uses: azure/webapps-deploy@v3
        with:
          app-name: acs-ui-dev-web-callwithchat-feature-validation
          package: ./samples/CallWithChat/dist
