name: Release branch - Publish npm package

on:
  workflow_dispatch:
    inputs:
      npm-tag:
        description: 'Npm tag for the release. Use latest for latest stable release, next for latest beta releases and dev for latest alpha releases.'
        required: true
        type: choice
        options:
          - dev
          - next
          - latest
      release-flavor:
        description: 'Beta release or stable release.'
        required: true
        type: choice
        options:
          - stable
          - beta

# cancel workflow when a newer version of the workflow is triggered on the same github ref
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  job-inputs:
    runs-on: ubuntu-latest
    steps:
      - name: Set branch name
        id: vars
        run: echo "branch=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT

      - name: job inputs summary
        run: |
          echo "### Job Inputs - Review before approving workflow" >> $GITHUB_STEP_SUMMARY
          echo "This job has been triggered with the following inputs, review these are correct before approving the npm deployment." >> $GITHUB_STEP_SUMMARY
          echo "- release branch: \`${{ steps.vars.outputs.branch }}"\` >> $GITHUB_STEP_SUMMARY
          echo "- npm-tag: \`${{ inputs.npm-tag }}"\` >> $GITHUB_STEP_SUMMARY
          echo "- release-flavor: \`${{ inputs.release-flavor }}"\` >> $GITHUB_STEP_SUMMARY
  publish:
    environment:
      name: npm
      url: https://www.npmjs.com/package/@azure/communication-react
    name: Publish release
    runs-on: ubuntu-latest
    steps:
      # Check-out repo
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # Ensure node version is great enough
      - name: Use Node.js v18.x
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'

      # Install dependencies
      - name: Install rush
        run: npm install -g @microsoft/rush@5.47.0
      - name: Install dependencies
        run: rush install --max-install-attempts 3

      # Switch flavor to stable when it is release branch
      - name: Switch flavor for stable build
        # If no param for release flavor, get it from branch name
        if: ${{ github.event.inputs.release-flavor == 'stable' }}
        run: rush switch-flavor:stable

      # Switch flavor to stable when it is release branch
      - name: Switch flavor for beta-release build
        # If no param for release flavor, get it from branch name
        if: ${{ github.event.inputs.release-flavor == 'beta' }}
        run: rush switch-flavor:beta-release

      # Builds
      - name: Build Packages and Samples
        run: rush build

      # Verify no uncommitted api extractor changes
      - name: API Extractor Check
        if: ${{ always() }}
        run: |
          if [[ -z $(git status ${{ matrix.flavor != 'stable' && '**/review/beta/**' ||  '**/review/stable/**'  }}.md -s) ]]
          then
            echo "Success, no new api changes found."
          else
            echo "API CHANGES FOUND in ${{ matrix.flavor }} flavor - PLEASE RUN \"${{ matrix.flavor == 'stable' && 'rush switch-flavor:stable &&' || '' }} rush build -t @azure/communication-react\""
            echo "Changes:"
            git status ${{ matrix.flavor != 'stable' && '**/review/beta/**' ||  '**/review/stable/**'  }}.md -s
            exit 1
          fi

      # Run tests
      - name: Run Tests
        run: rush test
        env:
          CI: true

      # Retrieve version to tag and publish release with
      - name: Retrieve version from package.json
        id: version
        run: |
          ver=$(jq -r .version packages/communication-react/package.json)
          echo version: $ver
          echo "version=$ver" >> $GITHUB_OUTPUT

      # Publish package
      - name: Package packages for release
        run: npm pack
        working-directory: ./packages/communication-react

      # Deploy npm package - this is done by uploading to Azure's SDK blob storage then triggering their partner release pipeline.
      # More info: https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/1/Partner-Release-Pipeline
      - name: Upload tarball to blob storage
        uses: azure/CLI@v1
        with:
          inlineScript: |
            az login --service-principal -u ${{ secrets.AZURESDKPARTNERDROPS_CLIENT_ID }} -p ${{ secrets.AZURESDKPARTNERDROPS_SERVICE_PRINCIPAL_KEY }} --tenant ${{ secrets.AZURESDKPARTNERDROPS_TENANT_ID }}
            az extension add --name storage-preview
            az storage azcopy blob upload -s "packages/communication-react/release/*" -c "drops/azure-communication-services/react/npm/${{ steps.version.outputs.version }}" --account-name azuresdkpartnerdrops

      - name: Trigger package release pipeline
        uses: Azure/pipelines@v1.2
        with:
          azure-devops-project-url: 'https://dev.azure.com/azure-sdk/internal'
          azure-pipeline-name: 'azuresdkpartnerdrops to npm'
          azure-devops-token: '${{ secrets.AZURE_SDK_RELEASE_PIPELINE_DEVOPS_TOKEN }}'
          azure-pipeline-variables: '{"accessLevel": "public", "BlobPath": "azure-communication-services/react/npm/${{ steps.version.outputs.version }}", "registry": "https://registry.npmjs.org/", "skipDiff": "False", "tag": "${{ github.event.inputs.npm-tag }}"}'

      - name: Check if npm package published successfully
        run: node common/scripts/poll-npm-package-published.mjs ${{ steps.version.outputs.version }}

      # Push git tags
      - name: Create and push git tags
        run: |
          git tag ${{ steps.version.outputs.version }}
          git push --tags

      # Upload non-react releases
      - name: Upload Public Preview Release
        uses: softprops/action-gh-release@v1
        with:
          name: PublicPreview ${{ steps.version.outputs.version }}
          tag_name: PublicPreview/${{ steps.version.outputs.version }}
          files: |
            ./samples/StaticHtmlComposites/dist/callComposite.js
            ./samples/StaticHtmlComposites/dist/chatComposite.js
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
