name: Private Preview Release

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  release:
    name: upload_release
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE so job can access it
      - uses: actions/checkout@v2

      # Ensure node version is great enough
      - name: Use Node.js v12.x
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'

      # Install dependencies
      - name: Install rush
        run: npm install -g @microsoft/rush
      - name: Install dependencies
        run: rush install

      - name: Build Packages and Samples
        run: |
          rush build -t "@azure/communication-ui"
          rush build -t "@azure/acs-chat-declarative"
          rush build -t "@azure/acs-chat-selector"
          rush build -t "@azure/acs-calling-declarative"

      - name: Package @communication-ui
        run: npm pack
        working-directory: ./packages/communication-ui/

      - name: Package @azure/acs-chat-declarative
        run: npm pack
        working-directory: ./packages/acs-chat-declarative/

      - name: Package @azure/acs-chat-selector
        run: npm pack
        working-directory: ./packages/acs-chat-selector/

      - name: Package @azure/acs-calling-declarative
        run: npm pack
        working-directory: ./packages/acs-calling-declarative/

      - name: Compile private preview zip
        run: 7z a private-preview.zip ./packages/**/private-preview/*

      # Get datetime to name and tag the releases with.
      - name: Get Release names
        id: releasenames
        run: |
          echo "::set-output name=tagname::$(TZ=":America/Vancouver" date +'%Y-%m-%d-%H%M')"
          echo "::set-output name=releasename::$(TZ=":America/Vancouver" date +'%Y-%m-%d-%H%M')"

      # Upload releases
      - name: Upload Private Preview Release
        uses: softprops/action-gh-release@v1
        with:
          name: PrivatePreview ${{ steps.releasenames.outputs.releasename }}
          tag_name: Release/${{ steps.releasenames.outputs.tagname }}
          files: private-preview.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
