name: Release

on:
  release:
    types: [created]

jobs:
  release:
    name: upload_release
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE so job can access it
      - uses: actions/checkout@v2

      # Ensure node version is great enough
      - name: Use Node.js v12.x
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'

      # Install dependencies
      - name: Install rush
        run: npm install -g @microsoft/rush
      - name: Install dependencies
        run: rush install

      # Builds
      - name: Build Packages and Samples
        run: rush build

      - name: Package Group Calling Sample Artifact
        run: npm run package
        working-directory: ./samples/Calling

      - name: Package One To One Calling Sample Artifact
        run: npm run package
        working-directory: ./samples/OneToOneCall

      - name: Package Group Chat Sample Artifact
        run: npm run package
        working-directory: ./samples/Chat

      - name: Package Private-Preview Artifact
        run: npm package
        working-directory: ./packages/communication-ui/

      - name: Archive builds
        run: |
          7z a group-calling.zip ./samples/Calling/dist/*
          7z a group-chat.zip ./samples/Chat/dist/*
          7z a one-to-one-calling.zip ./samples/OneToOneCall/dist/*
          7z a private-preview.zip ./packages/communication-ui/private-preview/*

      - name: Publish Group Calling Artifact
        uses: softprops/action-gh-release@v1
        with:
          files: 'group-calling.zip'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish Group Chat Artifact
        uses: softprops/action-gh-release@v1
        with:
          files: 'group-chat.zip'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish One to One Calling Artifact
        uses: softprops/action-gh-release@v1
        with:
          files: 'one-to-one-calling.zip'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish Private Preview Artifact
        uses: softprops/action-gh-release@v1
        with:
          files: 'private-preview.zip'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
