name: Run Touchdown build and commit changes

on:
  # Allows running workflow manually from the GitHub Actions tab
  workflow_dispatch:

jobs:
  runTDBuild:
    name: Run Touchdown build
    runs-on: ubuntu-latest
    env:
      MAIN_BRANCH: 'main'
    steps:
      # Check-out repo
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch

      - name: Install github actions dependencies
        run: npm ci
        working-directory: ./.github/workflows/azure-pipeline-action-fork

      - name: Trigger touchdown build pipeline
        uses: ./.github/workflows/azure-pipeline-action-fork
        with:
          azure-devops-project-url: 'https://skype.visualstudio.com/SCC'
          azure-pipeline-name: 'Azure.communication-ui-library-touchdown-build'
          azure-devops-token: '${{ secrets.AZURE_TOUCHDOWN_BUILD_PIPELINE_SECRET }}'
          azure-pipeline-variables: '{"commit": ${{ steps.extract_branch.outputs.branch != env.MAIN_BRANCH }}, "github_token": "${{ secrets.GITHUB_TOKEN }}"}'
