name: Stress test UI tests

on:
  workflow_dispatch:

# cancel workflow when a newer version of the workflow is triggered on the same github ref
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  stress_test_ui_tests:
    name: Stress test UI tests
    runs-on: ubuntu-latest
    permissions: read-all
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - name: Restore node_modules from cache
        uses: actions/cache@v4
        with:
          path: common/temp/pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('common/config/rush/pnpm-lock.yaml') }}
      - name: Install rush
        run: npm install -g @microsoft/rush@$(jq -r '.rushVersion' "rush.json")
      - name: Install dependencies
        run: rush install --max-install-attempts 3
      - uses: browser-actions/setup-chrome@v1
        id: setup-chrome
        with:
          chrome-version: 120.0.6099
      - name: Build Test
        run: |
          cd packages/react-composites
          rushx build:e2e
      - name: Install packlets used by browser tests
        run: |
          cd packages/react-composites
          rush build -t .
      - name: Run browser tests 7 times
        run: |
          cd packages/react-composites
          rushx test:e2e -s 7
        env:
          CONNECTION_STRING: ${{ secrets.CONNECTION_STRING }}
          CHROME_PATH: ${{ steps.setup-chrome.outputs.chrome-path }}
      - name: Upload snapshot diff
        if: ${{ failure() }}
        uses: actions/upload-artifact@v3
        with:
          name: snapshots
          path: packages/react-composites/test-results
