name: Stress test UI tests

on:
  workflow_dispatch:

jobs:
  stress_test_ui_tests:
    name: Run UI tests 7 times
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE so job can access it
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      # Ensure node version is great enough
      - name: Use Node.js v14.x
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'
      # Try get node_modules from cache
      - name: Restore node_modules from cache
        uses: actions/cache@v2
        with:
          path: common/temp/pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('common/config/rush/pnpm-lock.yaml') }}
      # Install dependencies
      - name: Install rush
        run: npm install -g @microsoft/rush@5.47.0
      - name: Install dependencies
        run: rush install
      - name: Build Test
        run: |
          cd packages/react-composites
          rushx build:e2e:chat
          rushx build:e2e:call
          rushx build:e2e:meeting
      - name: Test 1
        run: |
          cd packages/react-composites
          rushx test:e2e
        env:
          CONNECTION_STRING: ${{ secrets.CONNECTION_STRING }}
      - name: Test 2
        run: |
          cd packages/react-composites
          rushx test:e2e
        env:
          CONNECTION_STRING: ${{ secrets.CONNECTION_STRING }}
      - name: Test 3
        run: |
          cd packages/react-composites
          rushx test:e2e
        env:
          CONNECTION_STRING: ${{ secrets.CONNECTION_STRING }}
      - name: Test 4
        run: |
          cd packages/react-composites
          rushx test:e2e
        env:
          CONNECTION_STRING: ${{ secrets.CONNECTION_STRING }}
      - name: Test 5
        run: |
          cd packages/react-composites
          rushx test:e2e
        env:
          CONNECTION_STRING: ${{ secrets.CONNECTION_STRING }}
      - name: Test 6
        run: |
          cd packages/react-composites
          rushx test:e2e
        env:
          CONNECTION_STRING: ${{ secrets.CONNECTION_STRING }}
      - name: Test 7
        run: |
          cd packages/react-composites
          rushx test:e2e
        env:
          CONNECTION_STRING: ${{ secrets.CONNECTION_STRING }}
